/* Global styles  */

// Carbon styles needed for the project
@use '@carbon/styles/scss/reset';
@use '@carbon/grid';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/components/dropdown';
@use '@carbon/styles/scss/components/button';
@use '@carbon/styles/scss/components/modal';
@use '@carbon/styles/scss/components/text-input';
@use '@carbon/styles/scss/components/select';
@include grid.flex-grid();
@include type.type-classes();

body {
    background-color: var(--light-grey);
}

// Color palette
:root {
    --white: #ffffff;
    --light-grey: #ebebeb;
}
