@use '@carbon/layout';
@use "../../app-vars";

.card {
    padding: layout.$spacing-05;
    background-color: white;
    border-radius: app-vars.$border-radius-default;
}

img {
    width: 100%;
    padding-bottom: 1rem;
    object-fit: contain;
}

.status {
    padding-top: layout.$spacing-02;
}