@use '@carbon/layout';
@use "../app-vars";

h1 {
    padding-top: layout.$spacing-07;
    padding-bottom: layout.$spacing-05; 
}

.card {
    padding: layout.$spacing-05;
    background-color: white;
    border-radius: app-vars.$border-radius-default;
}

.status {
    padding-top: layout.$spacing-02;
}